In [4]:
import pandas as pd
import numpy as np
import plotly
import plotly.express as px

In [2]:
df= pd.read_csv("questionnaire.csv")
df

,Name,Gender,Age,Ethnicity,Family_Status,Number_Caretakers,State_Caretakers,Number_Siblings,Order_Among_Siblings,State_Residence,...,Academic_Passion,Years_Failed,Commute_Distance,Commute_Method,Commute_Duration,State_Commute,Work,Work_Type,State_Work,Dropout
0,Storm Madsen,male,36,Arab,Abandonned,4,2,2,2,5,...,2,0,3.8,motorbike,22,9,True,family business,9.0,True
1,Gordoslav Bosik,male,59,Black,Adopted,2,10,3,2,9,...,1,2,2.6,metro,39,8,False,NaN,NaN,False
2,آرمیتا محمدخان,female,36,Black,extended family,5,5,3,3,9,...,3,0,0.5,motorbike,3,1,False,NaN,NaN,True
3,Daryl Chambers,male,50,Asian,step family,3,4,1,1,6,...,3,2,9.8,motorbike,58,6,True,repetitive labour,8.0,True
4,Bilogost Drizhenko,male,71,White,biological family,5,7,2,1,5,...,6,0,14.6,motorbike,87,4,False,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16995,Eduardo Colin,male,73,Black,extended family,4,9,2,1,9,...,4,3,4.7,walking,282,3,True,craftsmanship,8.0,True
16996,Olivia Kristensen,female,27,Black,Adopted,4,10,2,2,9,...,9,2,5.4,motorbike,32,5,False,NaN,NaN,True
16997,Estela Rojo,female,67,Arab,Adopted,1,2,4,1,6,...,8,0,1.3,train,11,6,False,NaN,NaN,True
16998,Ivan Hillestad,male,67,Arab,Adopted,5,1,2,1,9,...,7,2,0.5,metro,7,9,False,NaN,NaN,True
16999,مانی حسینی,male,67,Hispanic,extended family,5,9,4,3,7,...,4,3,7.4,motorbike,44,9,False,NaN,NaN,False

In [12]:
dropoutdf = df["Dropout"].value_counts()
type(dropoutdf)

pandas.core.series.Series

In [23]:
df.iloc[[2,-1]]

,Name,Gender,Age,Ethnicity,Family_Status,Number_Caretakers,State_Caretakers,Number_Siblings,Order_Among_Siblings,State_Residence,...,Academic_Passion,Years_Failed,Commute_Distance,Commute_Method,Commute_Duration,State_Commute,Work,Work_Type,State_Work,Dropout
2,آرمیتا محمدخان,female,36,Black,extended family,5,5,3,3,9,...,3,0,0.5,motorbike,3,1,False,NaN,NaN,True
16999,مانی حسینی,male,67,Hispanic,extended family,5,9,4,3,7,...,4,3,7.4,motorbike,44,9,False,NaN,NaN,False